.Button {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.9;
}

a.Button {
  text-decoration: none;
}

.primaryColor {
  background-color: black;
  color: white;
}
