.Button {
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.9;
}

a.Button {
  text-decoration: none;
}
