@import "../styles/constants";

.Menu {
  background-color: $light-accent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 10vh;

  a {
    padding: 0.25rem 1rem;
  }

  div {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
}
