@import "constants";

body {
  margin: 0;

  background-color: $light-shades;
  color: $dark-shades;
  font-family: $main-font;
}

button {
  font: unset;
}

input {
  font-family: $main-font;
  font-size: 1rem;
}
